<header style="background-color:<%= Option.all.where(option_key: "bg_header").take.try(:option_value) %>;
	color:<%= Option.all.where(option_key: "color_header").take.try(:option_value) %>;">
	<div class="logo">
		<a href="#slide_0">
			<%= image_tag(Option.all.where(option_key: "img_header").take.try(:option_value)) %>
		</a>
	</div>

	<div class="title">
		<p><%= Option.all.where(option_key: "title_header").take.try(:option_value) %></p>
	</div>

	<nav>		
		<% @pages.each do |page| %>
			<div class="navigation">
				<%= link_to page.title, "#slide_#{page.position}" %>
			</div>	
		<% end %>
	</nav>

	<div class="back_top">	
		<a id="bouton_back_top" href="#slide_0">
			<%= image_tag("bouton_back_top_black.png") %>
		</a>
	</div>
				
	<div class="bouton_nav">
		<a id="bouton_nav" href="#">
			<%= image_tag("bouton_nav.png") %>
		</a>
	</div>
</header>

<% @pages.each_with_index do |page, i| %>
	<div class="slide <%= page.text_align %>" id="slide_<%= i %>" style="background-image:url(<%= page.image.url %>);">
	   <% unless @pages.last == page %>
			<div class="bouton_slide_center"> 
				<a href="#slide_<%= i + 1 %>">
					<%= image_tag("bouton_slide_center.png") %>
				</a>
			</div>
		<% end %>
		<% if page.contact != "off" %>
			<div class="block_texte <%= page.text_align %> <%= page.block_color %>">
			<%= form_for :contact do |f| %>
			  Prénom : <br /><%= f.text_field :first_name %><br />
			  Nom : <br /><%= f.text_field :last_name %><br />
			  Mail : <br /><%= f.text_field :mail %><br />
			  Objet : <br /><%= f.text_field :object %><br />
			  Objet : <br /><%= f.text_area_tag :message %><br />
			  <%= f.submit("Envoyer") %> 
			</div>
		<% else %>
			<div class="block_texte <%= page.text_align %> <%= page.block_color %>">
				<h1><%= page.title %></h1>
			    <h3><%= page.subtitle %></h3>
			    <p style="color:<%= page.color %>;"><%= page.body %></p>
			</div>
		<% end %>
	</div>
<% end %>

<footer style="background-color:<%= Option.all.where(option_key: "bg_footer").take.try(:option_value) %>;
	color:<%= Option.all.where(option_key: "color_footer").take.try(:option_value) %>;">

	<ul class="social-logo">
		<li class="logo">
			<%= link_to "", "http://#{Option.all.where(option_key: "link_twitter").take.try(:option_value)}", class: "twitter", :target => '_blank' %>
		</li>
		
		<li class="logo">
			<%= link_to "", "http://#{Option.all.where(option_key: "link_facebook").take.try(:option_value)}", class: "facebook", :target => '_blank' %>
		</li>
		
		<li class="logo">
			<%= link_to "", "http://#{Option.all.where(option_key: "link_linkedin").take.try(:option_value)}", class: "linkedin", :target => '_blank' %>
		</li>
		
		<li class="logo">
			<%= link_to "", "http://#{Option.all.where(option_key: "link_google_plus").take.try(:option_value)}", class: "google-plus", :target => '_blank' %>
		</li>
	</ul>
	
	<div class="copyright"><%= Option.all.where(option_key: "text_footer").take.try(:option_value) %></div>
</footer>
