<div class="slide center" id="position" style="background-image:url(<%= @page.image.url %>);">
	   
	<div class="bouton_slide_center"> 
		<a id="bouton_slide_center" href="#slide_2">
			<img src="images/bouton_slide_center.png"/>
		</a>
	</div>
	
	<div class="block_texte <%= @page.text_align %> <%= @page.block_color %>">
		<h1><%= link_to @page.title, root_path %></h1>
	    <h3><%= @page.subtitle %></h3>
	    <p><%= @page.body %></p>
	</div>

</div>